include src/segmentation/*.cpp
recursive-include src/segmentation/data/*
graft src/segmentation/data

include src/FFClust/*.py
include src/FFClust/*.jpg
include src/FFClust/*.txt
recursive-include src/FFClust/segmentation_clust_v1.1/*
graft src/FFClust/segmentation_clust_v1.1

